html {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  height: 57.25px;
  background-color: rgba(236, 239, 242, 1);
  display: flex;
  align-items: center;
}

#itemsInTopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw !important;
}

#topBarLeft, #topBarMiddle, #topBarRight {
  display: flex;
  align-items: center;
}

.dateInHeader {
  font-size: 40px;
  color: rgba(213, 45, 40, 1);
  margin-right: 7px;
  margin-left: 10px;
}

#specialtexttop {
  min-width: 150px;
}
.textHeaderdate{
display: flex;
justify-content: space-between;
font-size: 12px;
color: gray;
padding: 0;
margin: 0;
}
.textHeader {
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: gray;
  display: block;
  padding: 5px;
}
.date{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

#timeInTopBar {
  display: flex;
  color: rgba(119, 119, 119, 1);
  font-family: "Consolas", sans-serif;
  font-size: 12px;
}

#language {
  display: flex;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  line-height: 57.25px;
  height: 57.25px;
}

#pfeil_unten {
  height: 15px;
  width: 15px;
  padding-right: 10px;
}

#languageChooser {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  border-left: 0.1px #999999 solid;
}

#languageChooser:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

#login_logo {
  width: 180px;
  height: 90%;
  background-color: white;
  padding: 0;
  margin: 0;
}

#loginlogoBackground {
  background-color: white;
  height: 57.25px;
  width: 180px;
  display: flex;
  align-items: center;
}

.logoInTopBar {
  width: 22px;
  height: 57.25px;
}

#timerTopBar {
  font-size: 18px;
  padding-left: 30px;
}

#persons {
  filter: invert();
}

.hoverborderInTopBar:hover {
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.hoverborderInTopBar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.1px #999999 solid;
  border-right: 0.1px #999999 solid;
  line-height: 57.25px;
  height: 57.25px;
  width: 70px;
}

.redLineInTopBar {
  border-bottom: 3px rgba(255, 0, 0, 1) solid;
  height: 54.25px;
  display: flex;
  justify-content: center;
  flex-grow: inherit;
}

.redLineInTopBar:hover {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

#LeftSideNav {
  display: flex;
  background-color: rgba(0, 158, 195, 1);
  height: 100vh !important;
  overflow-y: scroll;
  flex-shrink: 0;
  flex-basis: 180px;
  overflow-x: hidden;
}

#formats:hover {
  background-color: rgba(0, 100, 128, 1);
}

#profil {
  background-color: white;
  border-radius: 100%;
  width: 88px;
  height: 88px;
  margin-top: 10px;
  margin-left: 40px;
}

#abwesend {
  color: rgb(211, 47, 47);
  margin-left: 40px;
  padding-left: 4px
}

#sbb {
  margin-left: 40px;
  color: white;
  padding-left: 4px
}

.cockpit {
  display: flex;
  align-items: center;
  background-color: rgba(230, 230, 230, 1);
  color: rgba(115, 115, 115, 1);
}

.logoLeft {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-left: 5px;
}

.IconsInLeftNav:hover {
  background-color: rgba(0, 100, 128, 1);
  cursor: pointer;
}

.IconsInLeftNav2:hover {
  background-color: rgba(0, 100, 128, 1);
  cursor: pointer;
}

#pfeilOben {
  width: 9px;
  height: 14px;
}

.IconsInLeftNav {
  display: flex;
  align-items: center;
  color: white;
  width: 180px;
  border-top: 1px white solid;
}

.IconsInLeftNav2 {
  display: flex;
  align-items: center;
  color: white;
  width: 180px;
  border-top: 1px white solid;
  margin-left: 5px;
  padding-right: 5px;

}


.style{
  height: 358.5px;
  overflow:auto;
  transition: height 10s linear;
}

.keck{
  overflow: hidden;
  height: 0;
}

.IconsInLeftNavPorfile {
  display: flex;
  align-items: center;
  color: white;
  width: 180px;
  border-top: 1px white solid;
}

.logoLefts {
  width: 16px;
  height: 16px;
  padding-left: 5px;
  padding-right: 10px;
}

#text {
  color: white;
}

#full-hight {
  display: flex;
  flex: auto;
  width: 180px;
  flex-direction: column-reverse;
  margin-bottom: 3rem;
  font-size: 14px;
}

#hallo {
  display: flex;
  width: 180px;
  justify-content: center;
}

#specialLogoLeft {
  padding-left: 5px;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

#itemsInLeftSideNav {
  display: flex;
  flex-direction: column;
}

#specialIconInLeftNav {
  display: flex;
  align-items: center;
  color: white;
  width: 180px;
  margin-left: 5px;
  padding-right: 5px;
}

#specialIconInLeftNav:hover {
  background-color: rgba(0, 100, 128, 1);
  width: 170px;
  cursor: pointer;
}

#pfeilOben {
  filter: invert();
  margin-left: 50px;
}

#anwesendText {
  color: rgba(66, 159, 70, 1);
  padding-left: 10px;
  padding-top: 30px;
  align-self: flex-start;
}

#abwesendText {
  color: rgba(255, 0, 0, 1);
  padding-left: 10px;
  padding-top: 30px;
  align-self: flex-start;
}

#rightsidenav {

  display: flex;
  background-color: rgba(255, 255, 255, 1);
  flex-direction: column;
  float: right;
}

.rightsidenavprofile:hover {
  background-color: rgba(245, 245, 245, 1);
  cursor: pointer;
}
#scroll{
  overflow-y: scroll;
  flex-shrink: 1;
  flex-basis: 90vh;
}
.rightsidenavprofile {

  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 7px;
}

.arbeitszeitInfo {
  display: flex;
}

.namesInrightsidenav {
  display: flex;
  color: rgba(33, 33, 33, 1);
  justify-content: left;
}

.arbeitszeitInrightsidenav {
  color: rgba(33, 33, 33, 1);
  font-size: 14px;
  justify-content: left;
  display: flex;
  opacity: 70%;
}

.clocklogo {
  width: 24px;
  height: 28px;
  margin-left: auto;
  padding-right: 20px;
  padding-bottom: 7px;
}

.profileLogo {
  background-color: white;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#surchbar {
  display: flex;
  border: 1px #999999 solid;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

#surchbar:hover {
  cursor: text;
}

#wordinsurchbar {
  padding-right: 130px;
  padding-left: 15px;
  font-size: 12px;
  color: #999999;
}

#surchbarimg {
  padding-right: 20px;
  padding-top: 5px;
  width: 24px;
  height: 28px;
}

#maindiv {
  display: flex;
  flex-direction: row;
}

#Cockpit {
  width: 100%;
  /*max-width: 100%;*/
  /*min-width: 48.7%;*/
  background: rgb(243, 243, 243, 1);
  color: rgba(33, 33, 33, 1);

}

#editLogoinCockpit:hover {
  background-color: rgba(250, 250, 250, 1);
  cursor: pointer;
}

#editLogoinCockpit {
  width: 14px;
  height: 14px;
  border: white 1px solid;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 15px;
  margin-left: 10px;
  box-shadow: darkgrey 1px 1px;
}

.LogoinCockpit {
  display: flex;
  width: 14px;
  height: 14px;
  border: white 1px solid;
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 17px;
  padding-right: 17px;
  box-shadow: darkgrey 1px 1px;
  margin-top: 15px;
  margin-left: 10px;
  opacity: 50%;
}

.LogoinCockpit:hover {
  background-color: rgba(250, 250, 250, 1);
  cursor: pointer;
}

#Überschrift {
  background-color: white;
  font-size: 25px;
  box-shadow: darkgrey 0 2px;
  padding: 10px;
}

#ToplogosinCockpit {
  display: flex;
  flex-direction: row;
}

#plusCockpit {
  color: lightgrey;
  width: 11px;
  height: 14px;
  margin-left: -4px;
}

#arrowCockpit {
  color: lightgrey;
  width: 9px;
  height: 14px;
  margin-left: 5px;
}

#saveCockpit {
  color: lightgrey;
  width: 12px;
  height: 14px;
}

#undoCockpit {
  color: lightgrey;
  width: 12px;
  height: 14px;
}

#mainboxSBBcrackhead {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 716.5px;
  height: 180px;
  max-width: 48.7%;
  min-width: 48.7%;
  border-radius: 10px;
  background-color: rgba(217, 230, 242, 1);
  margin-left: 10px;
  flex-grow: 100;
}

#mainboxSBBcrackhead:hover {
  background-color: rgba(224, 231, 235, 1);
}

#avatarinmainbox {
  display: flex;
  width: 140px;
  height: 140px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  margin-top: 20px;
  margin-right: 10px;
}

#SBBCrackhead {
  font-size: 25px;
}

#TextinmainBox {
  margin: 10px;
}

#tobLine {
  display: flex;
  flex-direction: row;
}

.whitebox {
  display: flex;
  width: 352.75px;
  height: 180px;
  background-color: white;
  max-width: 24.1%;
  min-width: 24.1%;
  border-radius: 10px;
  margin-top: 9px;
  margin-left: 10px;
  flex-direction: column;
}

.textInTopWhiteBox {
  font-size: 21px;
  margin-left: 20px;
  font-weight: bold;
}

.refresch {
  width: 20px;
  height: 20px;
  padding-top: 10px;
  padding-right: 10px;
}

.toplineofwhitebox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contentInWhiteBox {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 10px;
}

.pictureinbox {
  width: 24px;
  height: 24px;
  display: flex;
}

.numberinwhitebox {
  font-size: 35px;
  display: flex;
  padding-left: 7px;
}

#smallTextInAbsenzen {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 12px;
  color: rgb(33, 150, 243);
}

.whiteboxpears {
  display: flex;
  flex-direction: row;
}

#colorInWhiteBoxAbsenzen {
  color: rgb(33, 150, 243);
}

#colorInWhiteBoxAbsenzenNumber {
  color: rgb(33, 150, 243);
}

#colorInWhiteBoxVisum {
  color: rgb(16, 85, 192);
}

#colorInWhiteBoxVisumNumber {
  color: rgb(16, 85, 192);
}

#colorInWhiteBoxWarnungen {
  color: rgb(219, 73, 216);
}

#colorInWhiteBoxWarnungenNumber {
  color: rgb(219, 73, 216);
}

#colorInWhiteBoxAlarme {
  color: rgb(255, 67, 81);
}

#colorInWhiteBoxAlarmeNumber {
  color: rgb(255, 67, 81);
}

#colorInWhiteBoxVisumLogo {
  filter: invert(20%) sepia(99%) saturate(1912%) hue-rotate(208deg) brightness(100%) contrast(92%);
}

#colorInWhiteBoxAbsenzenLogo {
  filter: invert(57%) sepia(59%) saturate(4885%) hue-rotate(185deg) brightness(100%) contrast(91%);
}
#organization{
  padding: 0;
  margin: 0;
}
