@if (this.dataSubject.bool) {
  <div class="deleteBox">
    <h1>{{'DELETETEXTSUBJECT' | translate }}</h1>
    <p>{{'SUBJECTNAME' | translate}}: {{ dataSubject.subjectName }}</p>
    <p>{{'AVERAGEGRADE' | translate}}: {{ dataSubject.average }}</p>
    <div class="buttons">
      <button mat-raised-button [routerLink]="['/home']" >{{'CANCEL' | translate}}</button>
      <button mat-raised-button (click)="deleteSubject()">{{'SUBMIT' | translate}}</button>
    </div>
  </div>
} @else{
  <div class="deleteBox">
    <h1>{{'DELETETEXTGRADE' | translate}}</h1>
    <p>{{'SUBJECTNAME' | translate}}: {{ dataGrade.subjectName }}</p>
    <p>{{'GRADE' | translate}}:{{ dataGrade.grade }}</p>
    <p>{{'DATE' | translate}}: {{dataGrade.date}}</p>
    <div class="buttons">
      <button mat-raised-button [routerLink]="['/specific-Subject/']" >{{'CANCEL' | translate}}</button>
      <button mat-raised-button (click)="deleteGrade()">{{'SUBMIT' | translate}}</button>
    </div>
  </div>
}
