.weekly-calendar {
  .header {
    display: flex;
    justify-content: space-between;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ccc;
      height: 3vh;
      text-align: center;
    }

    th {
      background-color: #f0f0f0;
    }
  }
}

$myBlue: #92A8D1;
main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 10vh;
  background-color: $myBlue;
}

#headerBar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#headerDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainTitle {
  font-size: 5vh;
  text-align: center;
  align-self: center;
}


.profilePicture {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
}

.weekly-calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


tr:hover td:not(:first-child) {
  background-color: rgba(0, 0, 0, 0.03);
}

td:not(:first-child):hover {
  background-color: rgba(0, 0, 0, 2);
}

td:not(:first-child):hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.03);

}

table {
  overflow: hidden;
}

.booking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $myBlue;
  font-size: 1vh;
}


td {
  padding: 0;
  margin: 0;
  width: 12.5%;
  height: 30px;
  position: relative;
}


#tdDiv {
  display: flex;
  flex-direction: row;
  text-align: center;
  line-height: 1vh;
  left: 0;
  right: 0;
  height: 30px;
  min-height: 100%;
  position: relative;
}
#selectUsers{
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  //gap: 20rem;
}
#memberSelect{
  position: sticky;
  right: 40%;
  left: 40%;
  width: 20%;
}
#favAssignment{
  float: left;
  width: 15%;
}
#checkIn{
  margin-right: 1vh;
  display: flex;
  border: dimgray solid 1px;
  background-color: $myBlue;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}
.CheckInOutText{
  margin-top: 1.1vh;
  padding: 1vh;
}
