<main>
  <header>
    <p id="creationTitle">Edit {{ this.userName }}</p>
  </header>
  <form [formGroup]="newData">
    <div id="CreateMemberData">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="newUsername" matInput required type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Surname</mat-label>
        <input formControlName="newSurname" matInput required type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input formControlName="newFirstname" matInput required type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="newPassword" matInput required type="password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Department</mat-label>
        <input formControlName="newDepartment" matInput required type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Picture</mat-label>
        <input formControlName="newPicture" matInput type="text">
      </mat-form-field>
      @if (this.memberService.getAllSuperiorName().includes(userName)) {
        <mat-form-field>
          <mat-label>Members</mat-label>
          <mat-select (click)="allMembersToAssign()" [formControl]="member" multiple>
            @for (members of this.members; track members) {
              <mat-option [value]="members">{{ this.members }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
      <div id="submitButtons">
        <button (click)="onSubmit()" mat-raised-button routerLink="/settings">Submit</button>
        <button mat-raised-button routerLink="/settings">Cancel</button>
      </div>
    </div>
  </form>
</main>
