.navigation {
  width: 200px;
  border: 1px solid black;
}

.title {
  cursor: pointer;
}

.arrow {
  transition: transform 0.3s ease;
}

.child-elements {
  max-height: 300px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
