<header>
  <p id="title">TimeTool</p>
</header>
@if (this.memberService.getLoginTryCount() <= 2) {
  <main>
    <div id="loginBox">
      <p id="loginBoxTitle">Login</p>
      <mat-form-field class="LoginInput">
        <mat-label>Username</mat-label>
        <input matInput type="text" [formControl]="username" required>
      </mat-form-field>
      <div class="login-container">
        <mat-form-field class="LoginInput">
          <mat-label>Password</mat-label>
          <input matInput type="password" [formControl]="userPassword" required>
        </mat-form-field>
      </div>
      <button mat-raised-button id="Button" (click)="login()">Login</button>
    </div>
  </main>
} @else {
  <h1>You Have Used your trys</h1>
}

