$myBlue: #92A8D1;
html{
  overflow: hidden;
}
p{
  padding: 0;
  margin: 0;
}
main{
  background-color:#F0EFEB;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
header{
  display: flex;
  background-color:$myBlue;
  height: 10vh;
  width: 100%;
  align-items: center;
  justify-content: center;

}
#loginBox{
  align-items: center;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  min-width: 25vw;
  max-width: 50vw;
  max-height: 100vh;
  background-color: $myBlue;

}
#title{
  font-size: 6vh;
  color: white;
}
.LoginInput{
  padding: 4vh 1vh 0.02vh 1vh !important;
  height: 7vh !important;
  width: 20vw !important;
}
#loginBoxTitle{
  padding-top: 4vh;
  font-size: 4vh;
  color: white;
}
#Button{
  font-size: 2vh;
  width: 8vw;
  height: 4vh;
  margin-top: 6vh;
}

