
a.textToBeHovered:hover img{
  visibility: visible;
}
a.textToBeHovered img{
  position: absolute;
  border-radius: 50px;
  height: 250px;
  width: 400px;
  visibility: hidden;

}
h1{
  margin-left: 700px;
  text-decoration: black;
}
