<main>
<div id="searchComponent">
<button mat-raised-button class="normalButton" routerLink="/searchComponent">Search Component</button>
<button id="fabButton" mat-fab color="primary" (click)="toggleButtonState()">Toggle</button>
</div>
<button mat-raised-button class="normalButton" (click)="loadBicycles()">Load Bicycles</button>
<div id="Bicycles">
@if (showBicycles){
  <h2>List of Bicycles</h2>
  @for (bicycle of bicycles; track $index){
    <strong>Name:</strong> {{ bicycle.name }} <br>
    <strong>Value:</strong> {{ bicycle.value ?? 0 | currency}} <br>
    <strong>Type:</strong> {{ bicycle.typeIds }} <br>
    <strong [routerLink]="['/brand', bicycle.brandId]" >Brand:</strong> {{ bicycle.brandId }} <br>
  }
}
</div>
</main>
