<button [routerLink]="['/']" mat-fab extended color="primary">
  <mat-icon>arrow_left</mat-icon>
  zurück
</button>
<main>
  <div id="shop">
    <table [dataSource]="(cart$ | async) || []" class="mat-elevation-z8" mat-table>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let element" mat-cell> {{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th *matHeaderCellDef mat-header-cell> Price</th>
        <td *matCellDef="let element" mat-cell> {{ element.price | currency:'CHF ' }}</td>
      </ng-container>
      <ng-container matColumnDef="Actions">
        <th *matHeaderCellDef mat-header-cell>Action</th>
        <td *matCellDef="let element" mat-cell>
          <button mat-icon-button (click)="removeFromCart(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
  <div>
  <h3>Gesamt: {{ total$ | async }} €</h3>
  <button mat-raised-button (click)="placeOrder()">Bestellen</button>
  </div>
</main>
