main{
  margin-top: 10vh;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #shop{
    th{
      z-index: 1000;
      position: sticky;
      top: 0;
    }
    width: 80%;
    height: 100%;
    overflow: scroll;
  }
  button{
    margin-top: 0;
    margin-left: 0;
  }
}
button{
  margin-top: 3vh;
  margin-left: 3vh;
}
