<main>
  <button id="homeButton" routerLink="" mat-raised-button>Info Component</button>
  <br>

<div id="search">
  <mat-form-field class="example-full-width">
    <mat-label>Bicycle Id</mat-label>
    <input id="input" matInput type="text" [formControl]="searchBarInput">
  </mat-form-field>
  <button id="searchButton" mat-raised-button (click)="displayBicycle()">Search</button>
  <br>
</div>
<div id="BicycleForId">
  @if (bicycles) {
    {{ bicycles.name }} <br>
    {{ bicycles.value ?? 0 | currency }} <br>
    {{ bicycles.type }} <br>
    {{ bicycles.brand | upperCaseWithCopyright }} <br>
  }
</div>
</main>

