<div id="body">
<main>
  <div id="loginBox">
    <div id="boxInput">
    <mat-form-field class="example-full-width">
      <mat-label> UserName</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput>
    </mat-form-field>
    </div>
    <div id="boxButton">
    <button id="loginButton" routerLink="/home" mat-raised-button>Login</button>
    <button mat-button>You Dont Have An Account ?</button>
    </div>
  </div>
</main>
</div>
