
<div id="body">
<main>
  <div id="loginBox">
    <div id="boxInput">
    <mat-form-field class="example-full-width">
      <mat-label>{{ 'USERNAME' | translate }}</mat-label>
      <input type="text" matInput [formControl]="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>{{ 'PASSWORD' | translate }}</mat-label>
      <input type="password" matInput [formControl]="password">
    </mat-form-field>
    </div>
    <div id="boxButton">
    <button id="loginButton" (click)="login()" mat-raised-button>{{'LOGIN' | translate}}</button>
    <button mat-button>{{'REGISTER' | translate}}</button>
    </div>
  </div>
</main>
</div>
