<button routerLink="">Search Component</button>

<!--<h2>{{ brandName }} Bicycles</h2>-->
<button (click)="loadBicycles()">Load Bicycles</button>
<h2>{{this.brandService.getBrandName(brandId) | upperCaseWithCopyright}}</h2>
@if (showBicycles){
  <h2>List of Bicycles</h2>
  @for(bicycle of bicycles; track $index){
    <strong>Name:</strong> {{ bicycle.name }} <br>
    <strong>Value:</strong> {{ bicycle.value ?? 0 | currency}} <br>
    <strong>Type:</strong> {{ bicycle.type }} <br>
    <strong>Brand:</strong> {{ bicycle.brand | upperCaseWithCopyright}} <br>
  }
}
