main {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;


  #creationTitle {
    font-size: 5vh;
    padding-bottom: 4vh;
  }


  #CreateMemberData {
    display: flex;
    width: 35vw;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    background-color: var(--primaryColor);


    .LoginInput {
      width: 30vw;
      padding-bottom: 2vw;
    }


    #submitButtons {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }
}
