<button mat-button routerLink="/home">
  <mat-icon>arrow_back_ios</mat-icon>
  Zurück
</button>
<main>
  <div id="addOrEditInput">
    <div id="input">
      <p>Note</p>
      <mat-form-field class="example-full-width">
        <mat-label>Note</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
    <div id="buttons">
      <button id="cancel" mat-raised-button>Abbrechen</button>
      <button mat-raised-button color="primary">Hinzufügen</button>
    </div>
  </div>
</main>
