<button mat-button routerLink="/home">
  <mat-icon>arrow_back_ios</mat-icon>
  {{ 'BACK' | translate }}
</button>
<main>
  <div id="addOrEditInput">
    <div id="input">
      <p>{{ 'GRADE' | translate }}</p>
      <mat-form-field class="example-full-width">
        <mat-label>{{ 'GRADE' | translate }}</mat-label>
        <input [formControl]="editOrAddGrade" matInput type="number" />
      </mat-form-field>
      @if (this.usageOfComponent) {
        <mat-form-field class="example-full-width">
          <mat-label>{{ 'DATEPICKER' | translate }}</mat-label>
          <input [matDatepicker]="datepicker" [formControl]="dateOfNewGrade" matInput>
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle [for]="datepicker" matIconSuffix></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
          </mat-datepicker>
        </mat-form-field>
      }
    </div>
    <div id="buttons">
      <button id="cancel" mat-raised-button [routerLink]="['/home']" >{{ 'CANCEL' | translate }}</button>
      @if (this.usageOfComponent){
      <button color="primary" mat-raised-button (click)="addGrade()">{{ 'SUBMIT' | translate }}</button>
      } @else {
      <button color="primary" mat-raised-button (click)="editGrade()">{{ 'SUBMIT' | translate }}</button>
      }
    </div>
  </div>
</main>
