

<link rel="stylesheet" href="./bicycle.component.scss">
<button class="buttons" (click)="displayBicycleName()">Wie heisst mein Fahrrad?</button>
<button class="buttons" (click)="getFavoriteBicycleImage()">Mein Lieblingsfahrrad suchen</button><br>
<input type="text" id="searchInput" [formControl]="searchBarInput">
<div style="display: flex; flex-direction: row">
  @for (bicycleImage of favoriteBicycle; track $index){
    <img [src]="bicycleImage.link" [height]="bicycleImage.image.height" [width]="bicycleImage.image.width" alt="Favorite Bicycle" >
  }
</div>
<p>Mein Lieblingsfahrad: {{ this.searchBarInput.value }}</p>
