
#body {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;

  main {
    width: 90%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    table {
      width: 40%;
    }

    #createNewButton {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 6vh;
    }


  }
  #logOutButton{
    margin-left: 2vh;

  }
}
