<div id="body">
  <main>
    <div id="createNewButton">
      <h1>{{ 'ALLSUBJECTS' | translate }}</h1>
      @if (userData.admin) {
      <button [routerLink]="['/subject' + '/add']" color="primary" mat-raised-button>{{ 'ADD' | translate }}</button>
      }
    </div>
    <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>{{ 'SUBJECTNAME' | translate }}</th>
        <td *matCellDef="let element" [routerLink]="['/specific-Subject/' + element.name] " (click)="gradeService.saveSubjectId(element.subjectId)"
            mat-cell> {{ element.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="avg">
        <th *matHeaderCellDef mat-header-cell>{{ 'AVERAGEGRADE' | translate }}</th>

        <td *matCellDef="let element" mat-cell><span
          [ngStyle]="{
          'background-color': rightColor(element.avg),
          'height': '3vh',
          'width': '3vw',
          'display':'flex',
          'justify-content': 'center',
          'align-items': 'center',
          'border-radius': '100%'}">
          {{ this.showAvg(element.avg) }}
        </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th *matHeaderCellDef mat-header-cell>{{ 'ACTIONS' | translate }}</th>
        <td *matCellDef="let element" mat-cell>
          @if (userData.admin) {
            <button (click)="saveSubjectToEdit(element.name, element.subjectId)" [routerLink]="['/subject' + '/edit']"
                    mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="openDialog(element.avg , element.name, element.subjectId)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          }
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </main>

  <button color="primary" id="logOutButton" mat-fab routerLink="/login">
    <mat-icon>logout</mat-icon>
  </button>

</div>

