@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.spinning-image img {
  justify-content: center;
  height: 600px;
  width: 600px;


  animation: spin 4s linear infinite;
}
body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}
