<button mat-button routerLink="/home">
  <mat-icon>arrow_back_ios</mat-icon>
  {{ 'BACK' | translate }}
</button>
<div id="mainBox">
  <main>
    <div id="createNewButton">
      <h1>{{ 'GRADES' | translate }} {{ specificSubject }}</h1>
      <button [routerLink]="['/grade/' + specificSubject +'/add']" routerLinkActive="active" target="_blank" color="primary" mat-raised-button>{{ 'ADD' | translate }}</button>
    </div>
    <table [dataSource]="dataSource2" class="mat-elevation-z8" mat-table>
      <ng-container matColumnDef="note">
        <th *matHeaderCellDef mat-header-cell> {{ 'GRADE' | translate }}</th>

        <td *matCellDef="let element" mat-cell><span
          [ngStyle]="{
          'background-color': rightColor(element.grade),
          'height': '3vh',
          'width': '3vw',
          'display':'flex',
          'justify-content': 'center',
          'align-items': 'center',
          'border-radius': '100%'}">
          {{ gradeService.roundToSpecificNumber(element.grade) }}
        </span></td>
      </ng-container>
      <ng-container matColumnDef="datum">
        <th *matHeaderCellDef mat-header-cell> {{ 'DATE' | translate }}</th>
        <td *matCellDef="let element" mat-cell> {{ element.date }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>{{ 'ACTIONS' | translate }}</th>
        <td *matCellDef="let element" mat-cell>
          <button [routerLink]="['/grade/' +specificSubject+ '/edit']" (click)="saveGradeData(element.id, element.grade)" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="openDialog(element.grade, element.name, element.date); saveGradeData(element.id, element.grade)" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </main>
</div>
