
header {
  display: flex;
  background-color: var(--primaryColor);
  height: 10vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: white;

  .icon-display {
    transform: scale(1.3);
  }
}

#settingsTitle {
  margin-left: 43%;
  font-size: 6vh;
}

main {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  color: white;


  #settingsBox {
    background-color: var(--primaryColor);
    align-items: center;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    height: 58vh;


    .SettingButtons {
      margin-top: 2vh;
      width: 25vh;
      color: var(--primaryColor);
      border: 1px solid white;
      border-radius: 1vh;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: var(--primaryColor);
        color: #fff;
      }
    }
  }

  .popUp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primaryColor);
    padding: 20px;
    width: 40vw;
    height: 55vh;
    border-radius: 2vh;
    position: fixed;
    z-index: 1000;
  }

  .popUpTitle {
    font-size: 5vh;
  }

  .popUpInputs {
    width: 30vh;
  }

  .popUpButtons {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  #EditInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #slideToggle {
    margin-bottom: 10vh;
  }

  #MembersTitle {
    padding-top: 3vh;
  }
}
